spring:
  application:
    name: roupas

  datasource:
    url: jdbc:h2:file:./schema
    driver-class-name: org.h2.Driver
    username: unifil
    password: labinfo123

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true
